<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1 class="m-4 color-theme">About us</h1>
	
    <div class="bg-white m-4 p-4 shadow">
        <ul class="fs-5">
            <li>Welcome to Aahar Ayojan! We're dedicated to reducing food waste and helping those in need in our community.</li>
            <li>If you're hosting an event or running a restaurant, chances are you have leftover food at the end of the day. Instead of throwing it away, why not donate it to people who could use it? Our website connects food donors with local organizations that can distribute the food to those in need.</li>
            <li>Here's how it works- <br>
    
                Sign up as a food donor: If you have leftover food that you'd like to donate, simply sign up on our website. You'll provide some basic information about your organization and the types of food you have available. <br>
                
                Find a recipient organization: Our website will match you with local organizations that can accept your food donations. You can choose which organization to donate to based on their mission and proximity to your location. <br>
                
                Coordinate the donation: Once you've found an organization that can accept your donation, you'll work with them to coordinate a pickup or drop-off time. They'll provide you with any necessary information about their operations and how to prepare the food for donation. <br>
                
                Donate your leftover food: On the agreed-upon date, simply deliver your leftover food to the recipient organization. They'll take care of distributing it to people in need in the community.
            </li>
            <li>By donating your leftover food, you're not only reducing food waste but also helping to feed people who may not have access to regular meals. Thank you for considering donating your leftovers and helping to make a difference in the lives of others.</li>
            <li>Together, we can make a positive impact on the environment and the community.</li>
        </ul>
    </div>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>